<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form>
      <div class="form-group">
        <label for="firstName">Prénom</label>
        <input type="text" id="firstName" class="form-control" name="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" id="lastName" class="form-control" name="lastName">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label for="drinkPreference">Préférence de boisson</label>
        <input type="text" id="drinkPreference" class="form-control" name="drinkPreference">
      </div>
      <div class="form-group">
        <label for="hobbies">hobbies</label>
        <input type="text" id="hobbies" class="form-control" name="hobbies">
      </div>
      <button class="btn btn-success" type="submit">Enregistrer</button>
    </form>
  </div>
</div>
