<li [ngClass]="{
  'list-group-item': true,
  'list-group-item-success': appareilStatus === true,
  'list-group-item-danger': appareilStatus === false
   }">
  <h4 [ngStyle]="{color: getColorStatus()}"> Appareil : {{ appareilName }} - Statut {{ getStatus() }} - <a [routerLink]="[id]"> Détail </a></h4>
  <button class="btn btn-success"
          (click)="onSwitchOn()"
          [disabled]="appareilStatus"> On </button>&nbsp;
  <button class="btn btn-danger"
          (click)="onSwitchOff()"
          [disabled]="!appareilStatus"> Off </button>
</li>
