<h1 *ngIf="loading">Chargement ...</h1>
<div class="col-xs-12">
  <h2>Mes appareils
    <button class="btn btn-default"
                            [disabled]="!isAuth" (click)="onFetch()" >
    <i class="fas fa-sync-alt"></i>
  </button></h2>
  <p>Mise à jour : {{ lastUpdate | async | date:'EEEE d MMM y' | uppercase }}</p>
  <ul class="list-group">
    <app-appareil *ngFor="let appareil of appareils; let i = index"
                  [indexOfAppareil]="i"
                  [appareilName]="appareil.name"
                  [appareilStatus]="appareil.status"
                  [id]="appareil.id">
    </app-appareil>
  </ul>
  <button class="btn btn-success"
          [disabled]="!isAuth" (click)="onAllumer()" >
    Tout allumer
  </button>
  &nbsp;
  <button class="btn btn-danger"
          [disabled]="!isAuth" (click)="onEteindre()" >
    Tout éteindre
  </button>
  &nbsp;
  <button class="btn btn-primary"
          [disabled]="!isAuth" (click)="onSave()" >
    <i class="fas fa-database"></i>
    Enregistrer
  </button>

</div>
